/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 1280px;
}

.container {
    width: 80%;
}

.container-small {
    width: 60%;
}

.container-100 {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 -1rem;
}

.column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* CONTROLLA QUI, POTREBBE ESSERE AL CONTRARIO */
    margin: 0 -1rem;
}

[class^="col-"] {
    padding: 1rem;
}

.col-4 {
    width: calc((100% / 12)* 4);
}

.col-8 {
    width: calc((100% / 12)* 8);
}

.col-12 {
    width: 100%;
}

/* #endregion common */

/* #region header */

/* #endregion header */

/* #region main */

/* #region jumbotron */

/* #endregion jumbotron */

/* #region business plan */

/* #endregion business plan */

/* #region affiliati */

/* #endregion affiliati */

/* #region operazioni */

/* #endregion operazioni */

/* #region clienti */

/* #endregion clienti */

/* #region partner */

/* #endregion partner */

/* #region prova gratuita */

/* #endregion prova gratuita */

/* #region faq */

/* #endregion faq */

/* #endregion main */

/* #region footer */

/* #endregion footer */