/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion common */

/* #region header */

/* #endregion header */

/* #region main */

/* #region jumbotron */

/* #endregion jumbotron */

/* #region business plan */

/* #endregion business plan */

/* #region affiliati */

/* #endregion affiliati */

/* #region operazioni */

/* #endregion operazioni */

/* #region clienti */

/* #endregion clienti */

/* #region partner */

/* #endregion partner */

/* #region prova gratuita */

/* #endregion prova gratuita */

/* #region faq */

/* #endregion faq */

/* #endregion main */

/* #region footer */

/* #endregion footer */